 @import url('https://fonts.googleapis.com/css?family=Ubuntu');
#nav
{
	background-color: rgba(0,0,0,0.0);
	border: none;
}


#nav_ul li 
{	



}
#nav_ul li a 
{	color: white; 
	font-size: 25px; 
	font-family: "Ubuntu";

}
#nav_ul li a:hover 
{	
	border-bottom: 3px solid white; 
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;	
}

a:active{ text-decoration: none;}
a:visited{ text-decoration: none;}

@media(max-width:1060px) {
	#nav_ul li a 
{	
	font-size: 20px; 

}}

@media(max-width:750px) {

	#nav_ul li a 
{	
	font-size: 25px; 
	padding: 10px;

}
  #nav_ul li a:hover 
{	 
	background-color: white;
	color: #222;

}

#nav_ul li 
{
	text-align: center;
	padding: 0px;
} 
 
} 
