 @import url('https://fonts.googleapis.com/css?family=Mr+Dafoe');
  
  h1 {  font-family: 'century gothic', sans-serif;} 

  *
  {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  body
{
    background-color: #FFFEFE;
}

/*The intro page use  for background when uploading site*/
  .start
  {
    width: 100%;
    height: 100%;
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.25), 
        rgba(0, 0, 0, 0.35) 
    
      ),
      url("https://static.pexels.com/photos/197127/pexels-photo-197127.jpeg") fixed no-repeat;
      background-size: 100% 100%;
      position: relative;
      top: 0px;
      text-align: center;
  }
  svg
  {
    height:80px; 
    width:440px;
  }
  .svg-wrapper 
  {
    z-index: 2;
    position: relative;     
    top: 50%;     
    transform: translateY(-50%);
    margin: 0 auto;     
    width: 500px;   
  }   
.shape 
{     
  stroke-dasharray: 0 0;
stroke-dashoffset: 0;     
stroke-width: 8px;     
fill: transparent;
stroke: white;     
border-bottom: 5px solid black;     
transition: stroke-width 3s, stroke-dashoffset 3s, stroke-dasharray 3s;   
} 

.text 
 {     
    color:white;      
    -webkit-text-stroke: 0.9px black;
    top: -90px;
    position: relative;
    text-align: center;
  }
    
.text h1 {font-family: 'Mr Dafoe', sans-serif; font-size: 58px; }
.text h1:hover 
{
 color: white;
 -webkit-text-stroke: 1.9px black;
-webkit-transition: all 3s ease-in;
-moz-transition: all 0.9s ease-in;
-ms-transition: all 3s ease-in;
-o-transition: all 0.9s ease-in;
transition: all 0.9s ease-in;
 }

.svg-wrapper:hover .shape {
    stroke: black;
    stroke-width: 8px;
    stroke-dashoffset: 100;
    stroke-dasharray: 1150;
    -webkit-transition: all 1.8s ease-in;
    -moz-transition: all 1.8s ease-in;
    -ms-transition: all 1.8s ease-in;
     -o-transition: all 1.8s ease-in;
    transition: all 1.8s ease-in;
  }

  #button
  {
    width: 100px;
    height: 100px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
#start img
{
  fill :;
}

@media only screen and (max-width: 500px) {
   .start
  {
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.65), 
        rgba(0, 0, 0, 0.35) 
    
      ),
      url("http://i.imgur.com/QC1m1C3.jpg") fixed no-repeat;
      background-size: 100% 100%;
      position: relative;
      top: 0px;
      text-align: center;
  }
     .svg-wrapper 
      {
            width: 400px;   
      }
       svg
      {
           height:80px; 
           width:340px;
      }
      .text h1 
      {
            font-family: 'Mr Dafoe', sans-serif; 
            font-size: 38px; 
            padding-top: 13px;    
      }
      .shape 
      {     
            stroke-dasharray: 100 560;
            stroke-dashoffset: -200;     
            stroke-width: 8px;     
            fill: transparent;
            stroke: white;     
            border-bottom: 5px solid black;     
            transition: stroke-width 0.5s, stroke-dashoffset 0.5s, stroke-dasharray 0.5s;   
      } 

      .svg-wrapper:hover .shape 
      {
       stroke: black;
       stroke-width: 8px;
       stroke-dashoffset: 120;
       stroke-dasharray: 300;
          
      }
      .about{padding-bottom: 50px;} 
      .about a 
      {
        display: none;
      }
.skills .row .col-md-6 li
{
  padding-top: 10.5%;
}

}
@media only screen and (max-width: 400px) {

 .svg-wrapper 
      {
            width: 350px;   
      }
       svg
      {
           height:60px; 
           width:200px;
      }
        .text h1 
      {
            font-size: 30px; 
            padding-top: 13px;    
      }
      .shape 
      {     
            stroke-dasharray: 0 0;
            stroke-dashoffset: 0;     
            stroke-width: 0px;     
            fill: transparent;
            stroke: white;     
            border-bottom: 5px solid black;     
            transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;   
      } 

      .svg-wrapper:hover .shape 
      {
       stroke: black;
       stroke-width: 0px;
       stroke-dashoffset: 0;
       stroke-dasharray: 0 0;
          
      }
      .text h1:hover { color: white; -webkit-text-stroke: 1.4px black;}
      h1{ font-size: 26px;}
      h2 {font-size: 16px;}

}

@media only screen and (max-width: 300px) {

.svg-wrapper 
      {
            width: 250px;   
      }
       svg
      {
           height:60px; 
           width:200px;
      }
        .text h1 
      {
            font-size: 30px; 
            padding-top: 13px;    
      }
      }

               


/**the second page**/
.about
  {
    width: 100%;
    min-height: 740px;
    background-color: white;
    position: relative;
    text-align: center;
  }
 .about h1
  {
    position: relative;
    padding-top: 130px;
    text-align: center;
    font-family: 'century gothic', sans-serif;
    font-size: 36px;
  }
#about a
{
  width: 120px;
  height: 40px;
  border: 2px solid;
  position: absolute;
  bottom: 55px;
  right: 20px;
  padding: 0.5%;
  text-decoration: none;
  background-color: #222;
  border: 2px solid;
  color: white;
  font-family: "ubuntu";
  border-radius: 5px;

}

.about img:hover
{

-webkit-transition: all 400ms ease-in-out;
-moz-transition: all 400ms ease-in-out;
-ms-transition: all 400ms ease-in-out;
-o-transition: all 400ms ease-in-out;
transition: all 400ms ease-in-out;


}
.about img
  {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: 4px white solid;
    text-align: center;
    border-color: #222;


  }
.about h2
  {
    margin-bottom:30px;
    font-family: 'Corbel';

  }
.col-sm-4 p
  {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-family: 'century gothic';
    font-size: 18px;
    text-align: left;  
  }
.col-sm-4 h5
  {
    width: 75%;
    margin-left: auto;
    margin-right: auto;    position: relative;
    font-family: 'century gothic';
    font-size: 20px;
    text-align: left;
  }


footer
{
  bottom: 0px;
  width: 100%;background-color: black;
  height: 80px;
  text-align: center;
}
footer p 
{
  color: white;
  font-family: "calibri";
  font-size: 18px;
  padding-top: 20px;
}
time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
  font-family: "century gothic";
}
