.typewriter
{
    color: white;
    font-family: "Ubuntu";
    font-size: 100%;
}


  .typewriter h1 {

    font-size: 40px;
    font-family: "Ubuntu";
    overflow: hidden; 
    border-right: 3px solid white; 
    white-space: nowrap; 
    margin:0 auto; 
    letter-spacing: .15em;
    animation: 
    typing 2s steps(40, end),
    blink-caret .75s step-end infinite;

  }
.typewriter h2 {
    animation-delay: 2s;
    overflow: hidden; 
    border-right: 3px solid white; 
    white-space: nowrap; 
    margin:0 auto; 
    letter-spacing: .15em; 
    animation: 
    typing 2.5s steps(40, end),
    blink-caret .75s step-end infinite;
    margin-bottom: 20px;
    font-size: 35px;
  }

.typewriter h3 {
    animation-delay: 10s;
    overflow: hidden; 
    border-right: 3px solid white; 
    white-space: nowrap; 
    margin:10 auto; 
    letter-spacing: .10em;
     animation: 
    typing 4.5s steps(40, end),
    blink-caret .75s step-end infinite;
    font-size: 25px;
    }


@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}
@keyframes typing {
  from { width: 0 }
  to { width: 100%;}
}