*
{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
body
{
	background-color: #ddd;
}
nav{
	position: fixed;
	top: 0;
	width: 100%;
}
nav ul{
	padding-top: 20px;
	border-bottom: 1px solid tomato;
	padding-bottom: 20px;
	background-color: white;
}
nav ul li i {
	color: royalblue;
	cursor: pointer;
}
nav ul li {
	display: inline-block;
	width: 24%;
	text-align: center;
	margin: 0px !important;
}
nav ul li:hover >i{
	color: tomato	;
}


.top i {color: white; margin-right: 10px;}
.top 
{
	background-color:  tomato;
	padding: 10px; 
}
.top input
{
	width: 90%;
	border-top: none;
	border-RIGHT: none;
	border-left: none;
	border-bottom: 2px solid white;
	background-color:  tomato;
	height: 40px;
	color: white;
	font-family: "Calibri";
	font-size: 25px;
	padding: 10px;
}
input:focus, textarea:focus, button:focus{    outline: none;}
.top input::placeholder{    color: white; 	font-size: 18px;}

.posting-area
{
	margin-top: 180px;
	background-color: white;
}
.posting-area textarea
{
	min-width: 100%;
	max-width: 100%;
	min-height: 200px;
	border: none;
	padding: 20px;	
	font-size: 20px;
}
.posting-area button
{
	width: 150px;
	height: 35px;
	background-color: tomato;
	border: none;
	margin: 20px;
	color: white;
	font-size: 18px;
}

.post 
{
	margin-top: 20px;
	background-color: white;
	margin-bottom: 60px;
	padding: 30px;
}

.post ul
{
	width: 50%;
	padding: 10px;
	text-align: left;
}
.post  span
{
	border: 2px solid black;
	border-top: none;
	border-right: none;
	padding: 5px;
	width: 5px;
	height: 5px;
	position: absolute;
	transform: rotate(-45deg);
	right: 20px;
	margin-top: 10px;
}
.post li
{
	display: inline-block;
	padding: 0;

}
.post p 
{

font-family: "Calibri";
}
.avatar img
{
	max-width: 60px;
	max-height: 60px;
}
.post > p 
 {
 	padding-left: 50px;
 	font-size: 25px;

 }


